/* Stop Bootswatch from uppercasing DT headers */
table.dataTable thead th {
  text-transform: none !important;
}

/* Slightly narrow main text column */
main.content {
  max-width: 900px;
  margin: 0 auto;
}

/* Extra breathing room above major headings */
h1, h2 {
  margin-top: 2.2rem;
}

/* A little space before callouts */
.callout {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}


/* Prevent floating TOC from overlapping header image */
.sidebar nav#TOC {
  margin-top: 4rem;
}

/* Fallback selector (safe to include) */
#TOC {
  margin-top: 4rem;
}
